In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
data_Latih = pd.read_excel('cc.xlsx')

In [3]:
df = pd.DataFrame(data_Latih)
selected_columns = ['Titik_1_PSI','Titik_2_PSI']  # Kolom yang ingin diambil
x = df[selected_columns]

out_cols = data_Latih['Lokasi_Kebocoran']
y = out_cols

In [4]:
x

    Titik_1_PSI  Titik_2_PSI
0           133           46
1           134           40
2           132           44
3           131           50
4           133           57
5             0            0
6             0            0
7             0            0
8             0            0
9             0            0
10            0            0
11            0            0
12            0            0
13            0            0
14           12            9
15            9           10
16            8           14
17            9           73
18            6           17
19            5           18
20            4           14
21            1            6
22            1            6
23            1            4
24            1            4
25            1            3
26            1            3
27          133           46
28          134           40
29          131           50
30          133           57

In [5]:
y

0      0.00
1      0.00
2      0.00
3      0.00
4      0.00
5     26.42
6     26.42
7     26.42
8     26.42
9     26.42
10    26.42
11    26.42
12    26.42
13    26.42
14     3.96
15     4.02
16     4.33
17     4.24
18     7.60
19    13.01
20    18.00
21    23.70
22    23.60
23    25.01
24    25.01
25    26.15
26    26.15
27     0.00
28     0.00
29     0.00
30     0.00
Name: Lokasi_Kebocoran, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)

In [7]:
from sklearn.tree import DecisionTreeRegressor
Dc = DecisionTreeRegressor(max_depth=3, random_state=30) 
Dc.fit(x_train, y_train)
predictions_D3 = Dc.predict(x_test)
print(predictions_D3)

[ 0.          0.         26.38142857 26.38142857  0.         26.38142857
 24.355      26.38142857  0.         24.355     ]

In [8]:
from sklearn.metrics import mean_absolute_error
mae_D3=mean_absolute_error(y_test,predictions_D3)
print('MAE:%f'%mae_D3, "%")
from sklearn.metrics import mean_squared_error
mse_D3 = mean_squared_error(y_test, predictions_D3)
print("MSE:", mse_D3, "%")
rmse_D3 = np.sqrt(mse_D3)
print("RMSE:", rmse_D3, "%")
acc_D3 = ((100 - mae_D3))
print("accuracy:", acc_D3, "%")

MAE:0.599714 %
MSE: 1.90346724489796 %
RMSE: 1.379662003861076 %
accuracy: 99.40028571428572 %

In [9]:
import pickle

In [10]:
filename='Pred_lokasi11.sav'
pickle.dump(Dc,open(filename,'wb'))